<div class="mx-full" id=component-button>
    <h3 class="mat-title-medium">Basic</h3>
    <mat-card>
        <mat-card-content>
            <button matButton>Primary</button>
            <button matButton color="secondary">Secondary</button>
            <button matButton color="tertiary">Tertiary</button>
            <button matButton color="error">Error</button>
            <button matButton [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Raised</h3>
    <mat-card>
        <mat-card-content>
            <button matButton="elevated">Primary</button>
            <button matButton="elevated" color="secondary">Secondary</button>
            <button matButton="elevated" color="tertiary">Tertiary</button>
            <button matButton="elevated" color="error">Error</button>
            <button matButton="elevated" [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Stroked</h3>
    <mat-card>
        <mat-card-content>
            <button matButton="outlined">Primary</button>
            <button matButton="outlined" color="secondary">Secondary</button>
            <button matButton="outlined" color="tertiary">Tertiary</button>
            <button matButton="outlined" color="error">Error</button>
            <button matButton="outlined" [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Flat</h3>
    <mat-card>
        <mat-card-content>
            <button matButton="filled">Primary</button>
            <button matButton="filled" color="secondary">Secondary</button>
            <button matButton="filled" color="tertiary">Tertiary</button>
            <button matButton="filled" color="error">Error</button>
            <button matButton="filled" [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>
</div>
