.text-primary {
    color: var(--mat-sys-primary);
}

.text-secondary {
    color: var(--mat-sys-secondary);
}

.text-tertiary {
    color: var(--mat-sys-tertiary);
}

.text-success {
    color: var(--mat-sys-success);
}

.text-warning {
    color: var(--mat-sys-warning);
}

.text-error {
    color: var(--mat-sys-error);
}
