@use '@angular/material' as mat;
@use 'variables' as ddr-vars;

html {
    color-scheme: light dark;
    @include mat.theme((
            color: (
                    primary: ddr-vars.$primary,
                    tertiary: ddr-vars.$tertiary,
            ),
            typography: (
                    plain-family: 'Roboto Flex Variable'
            ),
            density: ddr-vars.$density
    ));

    --mat-sys-success: #{mat.get-theme-color(mat.define-theme((color: (primary: ddr-vars.$success))), primary, 40)};
    --mat-sys-warning: #{mat.get-theme-color(mat.define-theme((color: (primary: ddr-vars.$warning))), primary, 40)};

    @media (prefers-color-scheme: dark) {
        --mat-sys-success: #{mat.get-theme-color(mat.define-theme((color: (primary: ddr-vars.$success, theme-type: dark))), primary, 80)};
        --mat-sys-warning: #{mat.get-theme-color(mat.define-theme((color: (primary: ddr-vars.$warning, theme-type: dark))), primary, 80)};
    }
}

.mdc-button {
    &.mat-secondary {
        @include mat.button-overrides((
                filled-container-color: var(--mat-sys-secondary),
                outlined-label-text-color: var(--mat-sys-secondary),
                protected-label-text-color: var(--mat-sys-secondary),
                text-label-text-color: var(--mat-sys-secondary)
        ));
    }

    &.mat-tertiary {
        @include mat.button-overrides((
                filled-container-color: var(--mat-sys-tertiary),
                outlined-label-text-color: var(--mat-sys-tertiary),
                protected-label-text-color: var(--mat-sys-tertiary),
                text-label-text-color: var(--mat-sys-tertiary)
        ));
    }

    &.mat-success {
        @include mat.button-overrides((
                filled-container-color: var(--mat-sys-success),
                outlined-label-text-color: var(--mat-sys-success),
                protected-label-text-color: var(--mat-sys-success),
                text-label-text-color: var(--mat-sys-success)
        ));
    }

    &.mat-warning {
        @include mat.button-overrides((
                filled-container-color: var(--mat-sys-warning),
                outlined-label-text-color: var(--mat-sys-warning),
                protected-label-text-color: var(--mat-sys-warning),
                text-label-text-color: var(--mat-sys-warning)
        ));
    }

    &.mat-error {
        @include mat.button-overrides((
                filled-container-color: var(--mat-sys-error),
                outlined-label-text-color: var(--mat-sys-error),
                protected-label-text-color: var(--mat-sys-error),
                text-label-text-color: var(--mat-sys-error)
        ));
    }
}

html, body {
    height: 100%;
}

// Hack? https://github.com/angular/components/issues/30444
$typo-theme: mat.define-theme((
        typography: (
                plain-family: 'Roboto Flex Variable'
        )
)) !default;
@include mat.typography-hierarchy($typo-theme);

body {
    margin: 0;
    font-family: 'Roboto Flex Variable', 'Helvetica Neue', sans-serif;
}
